/* General */

:root {
  --base: rgb(228, 253, 255);
  --bg: #fafdff;
  --bg-second: #fafdff;
  --bold-one: #A6CE9A;
  --bold-one-hover: #8cc07c;
  --bold-two: #72a072;
  --text: black;
  --card: #f8ffea;
  --card-hover: #faffd6;
  --card-active: #f5ff96;
  --add-button: #d4ffca;
  --add-button-hover: rgb(187, 255, 172);
  --add-button-active: rgb(163, 255, 142);
  --bg-textbox: rgba(255, 255, 255, 0);
  --outer-border: #0000004f;
  --inner-border: #0000002f;
  --glow: #ccf3ff;
  --glow-hover: #b0edff;
}

.dark-mode {
  --base: rgb(0, 0, 0);
  --bg: #121212;
  --bg-second: #242424;
  --bold-one: #6b6b6b;
  --bold-one-hover: #585858;
  --bold-two: #686868a9;
  --text: white;
  --card: #1e1e1e;
  --card-hover: #424242;
  --card-active: #646464;
  --add-button: #686868a9;
  --add-button-hover: #7d7d7d;
  --add-button-active: #838383;
  --bg-textbox: #242424;
  --outer-border: #9e9e9ea6;
  --inner-border: #9e9e9ea6;
  --glow: #5e5e5e;
  --glow-hover: #747474;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

body {
  background: var(--base);
  color: var(--text);
  background-size: cover;
  background-blend-mode: multiply;
}



.everything-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.everything {
    width: 100%;
    max-width: 450px;
    /* margin-top: 16px; */
    padding-bottom: 16px;
    /* border-radius: 20px; */
    background-color: var(--bg-second);
    /* border: solid 1px var(--outer-border); */
}

#themeToggle {
  position: absolute;
  background-color: var(--card);
  top: 4px;
  right: 4px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#themeToggle:hover {
  background-color: var(--card-hover);
}

#themeToggle:active {
  background-color: var(--card-active);
}

button {
  border: solid 1px var(--inner-border);
}

/* Header */

.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-box {
    background-color: var(--bold-one);
    /* border-radius: 18px 18px 0px 0px; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.eat-frog-header {
    font-size: 2rem;
    color: white;
    padding-top: 24px;
    padding-right: 8px;
}

.shape {
  width: 100%;
  height: 20px;
  background: var(--bold-one);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 0px 0px 50% 50%;
}



h2 {
    text-align: center;
    margin-top: 16px;
}


/* images */

.darkmode-img {
  height: 28px;
}

.plus-img {
  height: 32px;
  position: absolute;
  top: 13px;
  left: 12px;
  opacity: 0;
  transition: opacity 0.2s ease;
  filter: invert(0.45);
}
.plus-img.visible {
  opacity: 1;
}

.frog-img {
  height: 32px;
  margin-right: 16px;
}

.asterisk-img {
  height: 32px;
  margin-right: 16px;
  filter: invert(0.4);
}

.icon-img {
  height: 32px;
  border: solid 1px black;
  background-color: none;
  border-radius: 8px;
  padding: 2px;
  margin-left: 8px;
  cursor: pointer;
}

.unchecked-img {
  
  height: 46px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  filter: invert(0.4);
}

.checked-img {
  position: absolute;
  top: -12px;
  left: -8px;
  height: 40px;
  filter: invert(0.55);
}

body.dark-mode .asterisk-img, body.dark-mode .icon-img, body.dark-mode .unchecked-img, body.dark-mode .plus-img, body.dark-mode .frog-lines, body.dark-mode .checked-img, body.dark-mode .darkmode-img{
  filter: invert(1);
  
}


/* Add to do */


.input-div, .edit-input-div {
  background-color: var(--card);
  border: solid 1px var(--outer-border);
  border-radius: 16px;
  margin: 16px 8px;
  position: relative;
}

.input-div:hover {
  background-color: var(--card-hover);
}

.input-div:hover .plus-img {
  opacity: 0;
}

.input-text-frog {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin:4px 4px;
}

.frog-button {
  background: none;
  border: none;
  cursor: pointer;
}

.frog-toggle-img {
  height: 40px;
}

.expand-section {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition:
    max-height 0.6s ease,
    opacity 0.6s ease;
}

.expand-section.open {
  max-height: 500px;
  opacity: 1;
  
}

.expand-section:hover {
  max-height: 500px;
  opacity: 1;
}

.range-sliders-box {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slider-label-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100px;
  appearance: none;
  outline: solid 1px var(--outer-border);
  background-color: var(--bg);
  border-radius: 10px;
  height: 10px;
  margin: 4px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width:16px;
  height: 8px;
  outline: solid 2px green;
  background: var(--bold-two);
  border-radius: 6px;
  cursor: pointer;
}

.add-to-list-box {
  width: 100%;
  display: flex;
  justify-content: end;
  
}

.add-to-list-button {
  background-color: var(--add-button);
  color: var(--text);
  margin: 8px 14px 8px 4px;
  padding: 5px 16px 4px 16px;
  font-size: 1rem;
  border-radius: 16px;
  cursor: pointer;
}

.add-to-list-button:hover {
  background-color: var(--add-button-hover);
}

.add-to-list-button:active {
  background-color: var(--add-button-active);
}

/* Order change */

.order-change-buttons {
  border: solid 1px var(--outer-border);
  margin: 16px 8px 4px 8px;
  padding: 4px;
  border-radius: 16px;
  width: 96%;
}

.change-buttons-top, .change-buttons-bottom {
  display: flex;
  justify-content: space-around;
}

.sort-button {
  font-size: 1rem;
  color: var(--text);
  margin: 4px;
  padding: 6px 10px 4px 10px;
  border-radius: 8px;
  background-color: var(--card);
  cursor: pointer;
  transition: 0.2s;
}

.sort-button:hover {
  background-color: var(--card-hover);
}

.sort-button:active {
  background-color: var(--card-active);
}

.active-sort {
  background: var(--glow);
  box-shadow: 0 0 4px #87c5ff;
  transform: scale(1.03);
}

.active-sort:hover {
  background-color: var(--glow-hover);
}

/* hide other box */

.show-only-list-box {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: dashed 1px var(--inner-border);
}

.to-do-list-title {
  text-decoration: underline;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;

}

.hide-input-boxes {
  font-size: 1rem;
  color: var(--text);
  margin: 4px;
  padding: 6px 10px 4px 10px;
  border-radius: 8px;
  background-color: var(--card);
  cursor: pointer;
  transition: 0.2s;
}

.hide-input-boxes:hover {
  background-color: var(--card-hover);
}

.hide-input-boxes:active {
  background-color: var(--card-active);
}


.controls-wrapper {
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  transition:
    max-height 0.6s ease,
    opacity 0.5s ease;
}

.controls-wrapper.hidden {
  max-height: 0;
  opacity: 0;
}

/* List */


.list-item {
  /* border: solid 1px rgb(60, 252, 146); */
  display: grid;
  grid-template-columns: 1fr 50px;
  margin:4px 4px;
}

.todo-input {
  min-height: 50px;
  background-color: var(--bg);
  color: var(--text);
  border: solid 1px var(--outer-border);
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
}

.todo-input:focus {
  outline: none;
}



.item-box {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom: dashed 1px var(--inner-border);
  /* border-radius: 16px; */
  margin: 0px 8px;
  /* box-shadow: 4px 4px 0px rgba(83, 93, 233, 0.438); */
}

.item-box:hover {
  /* background-color: var(--card); */
  border: solid 1px var(--outer-border);
}

.item-box.completed {
  background-color: rgba(138, 255, 102, 0.38);
  color: var(--inner-border);
  text-decoration: line-through;
}

.item-text-box {
  background-color: var(--bg-textbox);
  /* border: solid 1px var(--outer-border);
  border-radius: 16px; */
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.checking-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-box {
  height: 20px;
  width: 20px;
  border: solid 1px var(--inner-border);
  position: absolute;
}

.more-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  padding-right: 46px;
  padding-bottom: 4px;
  opacity: 0;
  max-height: 0px;
  margin-top: -4px;
  pointer-events: none;
  transition: all 0.2s ease-in
}

.more-box.show {
  opacity: 1;
  max-height: 60px;
  margin-top: 0px;
  pointer-events: auto;
}

.rate-item-display {
  margin: 0px 2px;
}

.item-buttons {
  display: flex;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Edit Modal */

.edit-box {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1000;
}


.edit-input-div {
  width: 90%;
  max-width: 450px;
  min-width: 400px;
  /* width: 700px;
  border: solid 1px black; */

  /* background: var(--bg);
  color: var(--text);

  border-radius: 20px;

  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  box-shadow: 0 0 20px rgba(0,0,0,0.3); */
}

/* How it works */

.how-it-works-button-box {
  position: relative;
  margin-bottom: 4px;
}

.how-it-works-button {
  position: absolute;
  width: 112px;
  background-color: var(--bold-one);
  color: white;
  font-size: 1rem;
  border: solid 1px var(--inner-border);
  border-radius: 8px;
  padding: 4px 0px 2px 0px;
  left: 30px;
  bottom: -10px;
  cursor: pointer;
}

.how-it-works-button:hover {
  background-color: var(--bold-one-hover);
}

.how-it-works-box {
  padding: 0px 32px;
}

.rating-example {
  display: flex;
  justify-content: space-around;
  margin: 16px 0px;
}

.add-button-example {
  background-color: var(--add-button);
  color: var(--text);
  margin: 8px 14px 8px 4px;
  padding: 5px 16px 4px 16px;
  font-size: 1rem;
  border-radius: 16px;
  
}

.example-frog-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-frog {
  height: 32px;
  margin: 0px 12px;
}

p {
  margin: 16px 8px;
}

h3 {
  margin-top: 16px;
}

h4 {
  text-decoration: underline;
}

.add-example-img {
  width: 100%;
}

body.dark-mode .example-frog-lines {
  filter: invert(1);
}